.cards-container {
  width: 90%;
  margin: 20px auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
@media (max-width: 120em) {
  .cards-container {
    width: 90%;
    margin: 20px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 85em) {
  .cards-container {
    width: 90%;
    margin: 20px auto;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 62em) {
  .cards-container {
    width: 85%;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 48em) {
  .cards-container {
    width: 85%;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 26em) {
  .cards-container {
    width: 85%;
    grid-template-columns: 1fr;
  }
}
