@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');
html,
* {
  box-sizing: border-box;
}
body {
  font-family: 'Poppins', sans-serif;
}
.App {
  width: 100vw;
  font-weight: 400;
  background-color: #dee2e6;
}
.left-side-container {
  border: 1px solid #3ee;
  width: 75%;
}
.right-side-container {
  width: 25%;
}

/* {
  #00a987
  #ff3d5e
  #393b40
  #f5c716
  #97d4e7
  #f8753d
} */
